<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Navigation</title>
</head>
<body>
    <h1>Model Navigation</h1>

    <button onclick="location.href='/knn'">KNN Model</button>
    <button onclick="location.href='/linear_regression'">Linear Regression Model</button> 
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/lstm">Prédictions LSTM</a></li>
    </ul>
</body>
</html>
